.height500{
    height: 500px;
}
.main-header .logo {
    height: 60px !important;
}
.main-sidebar {
    padding-top: 65px !important;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:visited {
    background: transparent !important;
}
#parent {
    display: table;
    overflow: hidden;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.displaynone{
    display: none;
}
.displaynoneimp{
    display: none ! important;
}
.disable{
    pointer-events: none;
    opacity: 0.5;
}
#zi{
    z-index: -1;
}
#child{
    z-index: 99;
}
.overflowhide{
    overflow: hidden;
}
div#parent {
    width: 100%;
}
body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    /*font:600 16px/18px 'Open Sans',sans-serif;*/
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{text-decoration:none}



.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}
.heading{
    text-align: center;
    color:white;
}
div#login-box {
    width: 360px;
    margin: 7% auto;
}
@media screen and (max-width: 768px) {
    div#login-box {
        width: 90%;
        margin-top: 20px;
    }
}
/*    header.main-header, .main-sidebar {
        display: none;
    }*/
.qod-title h3 {
    font-size: 24px !important;
    color:#fff;
}
.qod-title {
    background: #349E58;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
.qod .box-body, .qod .box-footer {
    padding: 10px 20px;
}
img#quote_preview {
    width: 100%;
    height: auto;
}
.quote_preview {
    height: auto;
}
h3#quotegen {
    line-height: 1.5;
    word-break: break-word;
}
p#last_posted {
    font-weight: 600;
    color: #e82932;
}

/***Radio button***/
input.quote_type {
    display: none;
}
input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
    background-color: #e0e0e0;
}
input[type=radio] + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 40px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 25px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

/***End***/
.content-wrapper, .right-side, .navbar-nav>.user-menu>.dropdown-menu>.user-footer {    
    background-color: #fbf3ff !important;   
}
.skin-blue .main-header .navbar, .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #349E58 !important;
}
.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover {
    background-color: #117A34 !important;
}
.skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #298E4B !important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff !important;
    background: #349E58 !important;
    border-left-color: #349E58 !important;
}
.skin-blue .sidebar-menu>li.header {
    color: #b1b1b1 !important;
    background: #298E4B !important;
}
.box.box-primary {
    border-top-color: #aba9ac !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #349E58 !important;
    border-color: #117A34  !important;
}
footer a, footer a:hover, footer a:active, footer a:focus {
    color: #349E58  !important;
}
.btn-primary {
    background-color: #008d4c !important;
    border-color: #008d4c !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 600;
}
.skin-blue .sidebar-menu>li>.treeview-menu, .skin-blue .main-header li.user-header {
    background: #117A34 !important;
}
.skin-blue .sidebar a {
    color: #fbf3ff !important;
}
.wrapper {
    background: #4f4f4f !important;
}
a.forgot {
    color: #349E58;
}

.btn, a.btn {
    display: inline-block;
    margin: 5px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 17px;
    border: none;
    transition: background .3s ease-in-out;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: ##449d44;  color: #fff;
}

.dfc_logo {
    height: 58px;
    padding: 6px 3px 6px 34px;
}

.user-panel>.info {
    padding: 13px 5px 5px 15px !important;
 }
 
 .navbar-custom-menu {
    padding: 4px 20px;
}

.main-header .sidebar-toggle {
    padding: 20px 20px;
 }
 
 .btn.simple, a.btn.simple{
    padding-left: 10px !important;
    padding-right: 10px !important;
border-radius:0px !important;
}