.height500{
    height: 500px;
}
#parent {
    display: table;
    overflow: hidden;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.displaynone{
    display: none;
}
.disable{
    pointer-events: none;
    opacity: 0.5;
}
#zi{
    z-index: -1;
}
#child{
    z-index: 99;
}
.overflowhide{
    overflow: hidden;
}
div#parent {
    width: 100%;
}
body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    /*font:600 16px/18px 'Open Sans',sans-serif;*/
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{text-decoration:none}



.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}
.heading{
    text-align: center;
    color:white;
}
div#login-box {
    width: 360px;
    margin: 7% auto;
}
@media screen and (max-width: 768px) {
    div#login-box {
        width: 90%;
        margin-top: 20px;
    }
}
/*    header.main-header, .main-sidebar {
        display: none;
    }*/
.qod-title h3 {
    font-size: 24px !important;
    color:#fff;
}
.qod-title {
    background: #3c8dbc;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
.qod .box-body, .qod .box-footer {
    padding: 10px 20px;
}
img#quote_preview {
    width: 100%;
    height: auto;
}
.quote_preview {
    height: auto;
}