.height500{
    height: 500px;
}
#parent {
    display: table;
    overflow: hidden;
}

#child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.displaynone{
    display: none;
}
.disable{
    pointer-events: none;
    opacity: 0.5;
}
#zi{
    z-index: -1;
}
#child{
    z-index: 99;
}
.overflowhide{
    overflow: hidden;
}