section#features {
    background-color: #ebc349;
    color: #fff;
}
ul.feature-item {
    text-align: left !important;
}
li.creative:before {
    content: "\f1fc";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    float: left;
    margin-left: -1.5em;
    font-size: 38px;
}
li.simple:before {
    content: "\f1d9";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    float: left;
    margin-left: -1.5em;
    font-size: 38px;
}
li.creative, li.simple {
    list-style-type: none;
}
ul.feature-item h3 {
    font-weight: 500;
}
section.features .section-heading {
    margin-bottom: 30px !important;
}
section.features .section-heading h2 {
    line-height: 1.2em;
}
ul.feature-item li {
    margin-bottom: 2em;
}
header {
    background-image: url('../img/Bg1.jpg');
    background-size: cover;
}
section#download {
    background: #c79a5f;
    color: #fff;
    padding: 90px 0 110px !important;
}
section.contact {
    background-image: url('../img/Bg2.jpg') !important;
    padding: 100px 0 !important;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}
input::-webkit-input-placeholder {
    position: relative;
    left: 0em;
}
input:-moz-placeholder { /* Firefox 18- */
    position: relative;
    left: 0em; 
}

input::-moz-placeholder {  /* Firefox 19+ */
    position: relative;
    left: 0em;
}

input:-ms-input-placeholder {  
    position: relative;
    left: 0em;
}
section.contact .input-lg+.form-control-feedback {
    left: 8px;
    width: 60px;
}
section.contact .input-lg {
    padding-left: 2em;
}
section.contact i.form-control-feedback {
    color: #753e99;
    font-size: 20px;
}
button#submit {
    border-radius: 6px !important;
    background: #753e99;
    color: #fff;
    font-weight: 600;
    outline: none;
}
ul.nav.navbar-nav.navbar-right.social-icons li a {
    border: 1px solid #ebc348;
    color: #ebc348;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: initial;
}
ul.nav.navbar-nav.navbar-right.social-icons {
    margin-top: 60px;
}
ul.nav.navbar-nav.navbar-right.social-icons li {
    padding: 0 10px;
    display: inline-block;
}
.affix {
    top: -200px;
}
nav#mainNav, .navbar-collapse {
    background: transparent !important;
    border-color: transparent !important;
}
.navbar-toggle {
    margin-top: 30px !important;
    color: #fff !important;
}
@media (max-device-width: 480px){
    .navbar-brand>img {
        max-width: 50%;
    }
    ul.nav.navbar-nav.navbar-right.social-icons {
        margin-top: 20px;
    }
}

.form-group {
    margin-bottom: 30px !important;
}
section.contact h2 {
    color:#fff;
    margin-bottom: 50px;
}
