section#features {
    background-color: #ebc349;
    color: #fff;
}
ul.feature-item {
    text-align: left !important;
}
li.creative:before {
    content: "\f1fc";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    float: left;
    margin-left: -1.5em;
    font-size: 38px;
}
li.simple:before {
    content: "\f1d9";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    float: left;
    margin-left: -1.5em;
    font-size: 38px;
}
li.creative, li.simple {
    list-style-type: none;
}
ul.feature-item h3 {
    font-weight: 500;
}
section.features .section-heading {
    margin-bottom: 30px !important;
}
section.features .section-heading h2 {
    line-height: 1.2em;
}
ul.feature-item li {
    margin-bottom: 2em;
}
section#features {
    background-image: url('../img/bg02.jpg') !important;
    background-size: cover;
    background-position: center center;
}
header {
    background-image: url('../img/main.jpg') !important;
    background-size: cover !important;
    background-position: center bottom !important;
}
section#download {
    background: #bd9369;
    color: #fff;
    padding: 90px 0 110px !important;
}
section.contact {
    background-image: url('../img/bg3.jpg') !important;
    padding: 100px 0 35px !important;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}
input::-webkit-input-placeholder {
    position: relative;
    left: 0em;
}
input:-moz-placeholder { /* Firefox 18- */
    position: relative;
    left: 0em; 
}

input::-moz-placeholder {  /* Firefox 19+ */
    position: relative;
    left: 0em;
}

input:-ms-input-placeholder {  
    position: relative;
    left: 0em;
}
section.contact .input-lg+.form-control-feedback {
    left: 8px;
    width: 60px;
}
section.contact .input-lg {
    padding-left: 2em;
}
section.contact i.form-control-feedback {
    color: #753e99;
    font-size: 20px;
}
button#submit {
    border-radius: 6px !important;
    background: #753e99;
    color: #fff;
    font-weight: 600;
    outline: none;
    background: url(../img/button.svg) no-repeat;
    background-size: cover;
    padding: 50px 120px;
    font-size: 24px;
}
.social-icons-top li a {
    border: 1px solid #ebc348;
    color: #ebc348;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: initial;
    vertical-align: middle;
    display: table-cell;
}
.social-icons-top  {
    margin-top: 24px;
}
.social-icons-top li {
    padding: 0 8px;
    display: inline-block;
}
.affix {
    top: -200px;
}
nav#mainNav, .navbar-collapse {
    background: transparent !important;
    border-color: transparent !important;
}
.navbar-toggle {
    margin-top: 30px !important;
    color: #fff !important;
}
.header-col1,.header-col2,.header-col3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
}
.header-col2 img {
    width: 50px;
    height: 80px;
    margin: auto;
}
.share-to{
    font-size: 20px;
    position: relative;
    margin-top: 100px;
    display: block;
    margin-bottom: 35px;
}
.header-col1{    
    background-image: url('../img/sha1.png');
}
.header-col2 {
    background-image: url('../img/she2.png');
}
.header-col3 {
    background-image: url('../img/sha3.png');

}
@media (max-device-width: 480px){
    .navbar-brand>img {
        max-width: 50%;
    }
    ul.nav.navbar-nav.navbar-right.social-icons {
        margin-top: 20px;
    }
}
@media (max-device-width: 768px){
    img.logo {
        margin: auto;
        padding-top: 20px;
    }
    ul.nav {
        padding-top: 2em;
        float: none !important;
    }
    .social-icons-top {
        margin-top: 10px;
        text-align: center;
        margin: auto;
        float: none !important;
    }
}
.form-group {
    margin-bottom: 30px !important;
}
section.contact h2 {
    color:#fff;
    margin-bottom: 50px;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
/*.carousel-indicators li {
        background: #c0c0c0;
}*/
.carousel-indicators .active {
    background: #753e99;
}
section.screens {
    background: #fff !important;
    padding: 50px 0 !important;
}
.carousel-indicators li {
    background: #ebc349;
    height: 12px;
    width: 12px;
    margin: auto;
}
div#myCarousel {
    padding-bottom: 4em;
}
section.screens h2 {
    margin-bottom: 1em;
}
section#download h2 {
    font-size: 50px;
    margin-bottom: 1em;
}
ul.share li:before {
    content: "\f007";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    float: left;
    margin-left: -2.3em;
    padding-right: 1em;
    padding: 0px 25px;
    background: url(../img/shares.svg) no-repeat;
    background-size: cover;
    /*background-position: center top;*/
}
ul.share li {
    font-size: 18px;
    list-style-type: none;
    line-height: 3.2em;
    letter-spacing: 1px;
}
ul.share {
    /*padding: 40px 50px;*/
    margin: 20% auto;
}
.header-content-inner h1 {
    margin-bottom: 40px;
}
a.app-download img {
    padding: 55px;
    margin: auto;
}
.apps.col-md-4 {
    background: url(../img/button_black.svg) no-repeat;
    background-size: cover;
    background-position: 55%;
}
.col-md-4.windows {
    background: url(../img/button.svg) no-repeat;
    background-size: cover;
    background-position: 55%;
}
.carousel-inner .item img {
    padding-bottom: 1em;
}
ul.nav>li>a:hover {
    background: transparent;
}
h1.main.text-center {
    padding: 20px 0 34px;
    line-height: 1.3em;
}
img.img-responsive.logo {
    padding-top: 20px;
}
p.copy-text {
    margin-bottom: 0;
}
.contact ul.list-inline li a {
    color: #333 !important;
    font-size: initial;
    text-decoration: none;
}
.contact ul.list-inline li {
    padding: 0px;
}
.sharing h4 {
    margin: auto;
    font-weight: bold;
    color: #753e99;
}